body{
    background-color: #252829;
}


.playListArea{
    width: 43200px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    pointer-events: none
}

.playlistBlock{
    display: flex;
    flex-direction: row;
}

.trackBlock{
    height:200px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    flex-shrink: 0;
}

.trackBlockContent{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.trackBlockText{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.trackBlockImg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    filter: grayscale();
}

.artworkOverlay{
    background-image: linear-gradient(to right,rgba(255,0,0,1), rgba(255,0,0,0));
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
    left: 30%;
}