.playListArea{
    display: flex;
    flex-direction: row;
    pointer-events: none
}

.trackBlock{
    height:200px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    flex-shrink: 0;
}

.trackBlockContent{
    display:flex;
    justify-content: space-between;
}

.trackBlockText{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}