@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Mukta', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e293b
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 12px;
  background: #334155;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6;
}

::-webkit-scrollbar-corner {
  background: #334155
}

.leviText {
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: #0000;
  /* -webkit-animation:leviathan-background-animation 3s linear infinite; */
  animation: leviathan-background-animation 3s linear infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-image: url(../src/testdata/leviathan-background.png);
  background-repeat: repeat;
  color: #a50020;
}

@-webkit-keyframes leviathan-background-animation {
  0% {
      background-position: 0 0
  }

  to {
      background-position: 0 128px
  }
}

@keyframes leviathan-background-animation {
  0% {
      background-position: 0 0
  }

  to {
      background-position: 0 128px
  }
}