@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Mukta', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e293b
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 12px;
  background: #334155;
}

::-webkit-scrollbar-thumb {
  background: #14b8a6;
}

::-webkit-scrollbar-corner {
  background: #334155
}